html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav-container{
  height: 440px;
}
.example-spacer{
  flex: 1 1 auto;
}
.mat-elevation-z5{
  position: relative;
  z-index: 2;
}
.button{
  padding: 14px;
  color: white;
}
.mat-drawer-container{
  background-color:aliceblue;
}
.mat-drawer {
  background-color:deepskyblue; 
}
.mat-sidenav a :hover{
  color: darkblue;
}
